[submodule "realsense_gazebo_plugin"]
	path = realsense_gazebo_plugin
	url = https://github.com/pal-robotics/realsense_gazebo_plugin.git
[submodule "scout_ros"]
	path = scout_ros
	url = https://github.com/hjinnkim/scout_ros.git
	branch = bts-devel
[submodule "ugv_sdk"]
	path = ugv_sdk
	url = https://github.com/agilexrobotics/ugv_sdk.git
